//create header and footer ejs files in views to simply add header and footer
//for each page that created so that each page can have the same style
<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
    <div class="box">
      <% for(i=0;i<newListItems.length;i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %></p>
        </div>
      <% } %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete = "off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
<%- include("footer") -%>
